# Ignore built binaries
bin

# Ignore large files, and test keys, in testdata.
testdata/*.txt
testdata/*.key
testdata/*.enc

# Ignore VSCode's debug / launch configuration, as it will vary per checkount
.vscode/launch.json
